html{
	/* height:100%; */
}
body{
	/* height:100%; */
	background-color: #F5F5F5;
}

#site-header{
	overflow: hidden;
}
#site-header .title{
	margin: 0 auto;
	padding-top: 80px;
	width: 500px;
	text-align: right;
}
#site-header nav{
	margin-top: 60px;
	text-align: center;
}
#site-header nav ul {
	margin-left: inherit;
}
#site-header nav ul li{
	display: inline-block;
	padding: 0.5em;
}


#site-header .title h1{
	margin-bottom: 15px;
	font-size: 40px;
	color: #333333;
}
#site-header .title h2{
	/*margin-left: 2em;*/
	font-weight: normal;
	font-size: 24px;
	color: #484848
}
#site-header nav ul li{
	font-size: 32px;
	/* text-transform: uppercase; */
}
#site-header nav ul li a{
	color: #AE8F8F;
	text-shadow: 5px  5px  3px  #BFBFBF;
	text-decoration: none;#F5F5F5
}
#site-header nav ul li a:hover{
	color: #333333;
	text-decoration: none;
}
#site-header nav ul li a:active{
	position:relative;
	top: 5px;
	left: 5px;
	text-shadow: 0px  0px  3px  #BFBFBF;
}
