---
import MainData from '../data/main.json'
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <!-- <Welcome /> -->
  <div class="flex flex-1 items-center justify-center">
    <div class="container mx-auto px-4 lg:px-32 py-8">
      <div class="hero">
        <div class="hero-content flex-col lg:flex-row gap-16">
          <!-- <img
            src={MainData.avatar.url}
            class="max-w-sm rounded-lg shadow-2xl"
          /> -->
          <div>
            <h1 id="site-title" class="text-5xl font-bold">Error 404: 沒有這一頁喔～</h1>
            <p class="py-6">
              你...迷路了嗎～？要不要先回到首頁，然後再重新找一找你要的網頁？
            </p>

            <div id="main-links">
              <ul class="flex gap-4 justify-end">
                <li class="">
                  <a href="/" class="btn btn-primary">
                    <!-- <i class="fa-solid fa-blog"></i> -->
                    回到首頁
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
