---
import MainData from '../data/main.json'
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- <Welcome /> -->
	<div class="flex flex-1 items-center justify-center">
		<div class="container mx-auto px-4 py-8">
			<div class="hero">
				<div class="hero-content flex-col lg:flex-row">
					<img
						src={MainData.avatar.url}
						class="max-w-sm rounded-lg shadow-2xl"
					/>
					<div>
						<h1 id="site-title" class="text-5xl font-bold">{MainData.name}</h1>
						<p class="py-6">
							Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
							quasi. In deleniti eaque aut repudiandae et a id nisi.
						</p>
						<button class="btn">部落格</button>
						<button class="btn">部落格舊站</button>
						<button class="btn">Github</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</Layout>
