---
import Layout from "../layouts/Layout.astro";
import ServiceCard from '../components/ServiceCard.astro';

import yuanblog from '../assets/services/yuan-blog.png';
import yuanbloglegacy from '../assets/services/yuan-blog-legacy.png';
import yuanupflare from '../assets/services/yuan-upflare.png';
import yuanupkuma from '../assets/services/yuan-upkuma.png';
import yuanai from '../assets/services/yuan-ai.png';
import yuangit from '../assets/services/yuan-git.png';
import yuanpiwik from '../assets/services/yuan-piwik.png';
import yuanbitwarden from '../assets/services/yuan-bitwarden.png';
import yuanmusic from '../assets/services/yuan-music.png';

let services = [
  {
    "name": "部落格主站",
    "subname": "https://blog.yuaner.tw",
    "status_html": `<span data-uptimeflare-id="yuan_blog"></span>`,
    "is_new": false,
    "tags": [
      "g"
    ],
    "img": yuanblog,
    "description": "2025重新以 hexo 架設的全新部落格<br>之後技術筆記、心得、日記寫文都會發布在這邊！",
    "links": [
      {
        "text": "前往",
        "class": "btn-primary",
        "href": "https://blog.yuaner.tw"
      }
    ]
  },
  {
    "name": "部落格舊站",
    "subname": "https://blog-legacy.yuaner.tw",
    "status_html": `<span data-uptimeflare-id="yuan_blog_legacy"></span>`,
    "is_new": false,
    "tags": [
      "g"
    ],
    "img": yuanbloglegacy,
    "description": "將Wordpress舊站靜態化以後存放<br>不再積極維護更新",
    "links": [
      {
        "text": "前往",
        "class": "btn-primary",
        "href": "https://blog-legacy.yuaner.tw"
      }
    ]
  },
  {
    "name": "服務監測站",
    "subname": "https://status.yuaner.tw",
    "status_html": `<span data-uptimeflare-id="yuan_uptime"></span>`,
    "is_new": false,
    "tags": [
      "cdn"
    ],
    "img": yuanupflare,
    "description": "以 UptimeFlare 架設的即時網站服務監測站",
    "links": [
      {
        "text": "前往",
        "class": "btn-primary",
        "href": "https://status.yuaner.tw"
      },
      {
        "text": "TG Bot",
        "class": "",
        "href": "https://t.me/yuaner_status_bot"
      },
    ]
  },
  {
    "name": "AI LLM",
    "subname": "https://ai.yuaner.tw",
    "status_html": `<div class="table"><div class="table-row">WebUI: <span class="table-cell w-[4em] text-center" data-uptimeflare-id="yuan_ai"></span></div><div class="table-row">LLM: <span class="table-cell w-[4em] text-center" data-uptimeflare-id="yuan_aillm"></span></div></div>`,
    "is_new": false,
    "tags": [
      "l"
    ],
    "img": yuanai,
    "description": "以 LiteLLM 架設的私人用AI LLM <p>Demo帳號密碼: demo@yuaner.tw / demo</p><p>PS. 若看不到可用模型，代表Demo專用額度已用盡，請明天再來</p>",
    "links": [
      {
        "text": "Open WebUI",
        "class": "btn-primary",
        "href": "https://ai.yuaner.tw"
      },
      {
        "text": "Firefox",
        "class": "",
        "href": "https://github.com/chyuaner/firefox-yuan-ai-sidebar/releases/"
      },
      {
        "text": "Telegram",
        "class": "",
        "href": "https://t.me/yuaner_llm_demo_bot"
      }
    ]
  },
  {
    "name": "Git Server",
    "subname": "https://git.yuaner.tw",
    "status_html": `<span data-uptimeflare-id="chiu_git"></span>`,
    "is_new": false,
    "tags": [
      "n"
    ],
    "img": yuangit,
    "description": "以 Gitea 架設的私人用Git Server",
    "links": [
      {
        "text": "前往",
        "class": "btn-primary",
        "href": "https://git.yuaner.tw"
      }
    ]
  },
  {
    "name": "幽影櫻 Minecraft",
    "subname": "",
    "status_html": `
      <div class="table">
        <div class="table-row">遊戲服: <span class="table-cell w-[4em] text-center" data-uptimeflare-id="barian_mcs2"></span></div>
        <div class="table-row">官網: <span class="table-cell w-[4em] text-center" data-uptimeflare-id="barian_mcweb"></span>
        </div>
      </div>
    `,
    "is_new": false,
    "tags": [
      "barian"
    ],
    "img": "https://barian0517.github.io/mcserverweb/Minecraft%20Screenshot%202025.06.26%20-%2001.23.07.95.png",
    "description": "Java伺服器版本，為朋友架設在我的主機上的Minecraft伺服器。",
    "links": [
      {
        "text": "前往",
        "class": "btn-primary",
        "href": "https://mcweb.barian.moe"
      }
    ]
  },
  {
    "name": "網站追蹤站",
    "subname": "https://piwik.yuaner.tw",
    "status_html": `<span data-uptimeflare-id="yuan_piwik"></span>`,
    "is_new": false,
    "tags": [
      "mt"
    ],
    "img": yuanpiwik,
    "description": "以 Piwik Matomo 架設的網站追蹤站",
    "links": [
      {
        "text": "前往",
        "class": "btn-primary",
        "href": "https://piwik.yuaner.tw"
      }
    ]
  },
  {
    "name": "密碼管理庫",
    "subname": "",
    "status_html": `<span data-uptimeflare-id="chiu_bitwarden"></span>`,
    "is_new": false,
    "tags": [
      "l"
    ],
    "img": yuanbitwarden,
    "description": "以 Vaultwarden 架設的密碼管理庫",
    "links": [
    ]
  },
  {
    "name": "線上音樂站",
    "subname": "https://music.yuaner.tw",
    "status_html": `<span data-uptimeflare-id="yuan_subsonic"></span>`,
    "is_new": false,
    "tags": [
      "n"
    ],
    "img": yuanmusic,
    "description": "以 Navidrome 架設的線上音樂站",
    "links": [
      {
        "text": "前往",
        "class": "btn-primary",
        "href": "https://music.yuaner.tw"
      }
    ]
  },
  {
    "name": "Card Title",
    "is_hide": true,
    "subname": "Card Sub Title",
    "status_html": "<img src='https://fimg.yuaner.tw/70x20?text=Status'>",
    "is_new": false,
    "tags": [
      "Fashion",
      "Products"
    ],
    "img": "https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp",
    "description": "A card component has a figure, a body part, and inside body there are title and actions parts",
    "links": [
      {
        "text": "前往",
        "class": "btn-primary",
        "href": "#"
      }
    ]
  }
];

let disabled_services = [
  {
    "name": "服務監測站 (Uptime Kuma版)",
    "subname": "https://status-legacy.yuaner.tw",
    "status_html": `<span class="font-bold"><div class="status"></div> 停用</span>`,
    "is_new": false,
    "tags": [
      "mt"
    ],
    "img": yuanupkuma,
    "description": "以 Uptime Kuma 架設的即時網站服務監測站",
    "links": [
      {
        "text": "前往",
        "class": "btn-primary",
        "href": "https://status-legacy.yuaner.tw"
      }
    ]
  },
]

---

<Layout>
  <div class="container mx-auto px-4 xl:px-30 py-4">
    <article>
      <header class="prose my-6 flex items-end flex-row gap-4">
        <h2 class="flex mb-0">服務狀態</h2>
        <a class="flex" href="https://status.yuaner.tw">前往完整的狀態頁</a>
      </header>
      <div class="bg-base-content/10 mx-1 h-px mb-8"></div>

      <div class="content">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          {services.map(item => (
            <ServiceCard {...item} />
          ))}
        </div>
      </div>
    </article>

    <article>
      <header class="prose my-6 flex items-end flex-row gap-4">
        <h2 class="flex mb-0">已停用或不定期的服務</h2>
      </header>
      <div class="bg-base-content/10 mx-1 h-px mb-8"></div>

      <div class="content">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          {disabled_services.map(item => (
            <ServiceCard {...item} />
          ))}
        </div>
      </div>
    </article>
  </div>
</Layout>
