---
import Layout from '../layouts/Layout.astro';
import data from '../data/main.json';
import WorkCard from '../components/WorkCard.astro';
---

<Layout>
	<div class="container mx-auto px-4 xl:px-30 py-4">
		<article>
			<header class="prose my-6">
				<h2>相關作品</h2>
			</header>
			
			<div class="content">
				
				<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
					
					{data.works.map(work => (
						<WorkCard {...work} />
					))}

				</div>
			</div>

		</article>
	</div>
</Layout>
