---
import "../assets/app.css";
import MainData from '../data/main.json'
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---


<!doctype html>
<html lang="zh-tw">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{MainData.name}</title>
	</head>
	<body class="flex flex-col min-h-screen bg-fancy">
		<nav>
			<Navbar />
		</nav>
		<main class="flex flex-1" data-barba="wrapper">
			<div class="flex flex-1" data-barba="container" data-barba-namespace="home">
				<slot />
			</div>
		</main>
		<footer>
			<div class="mx-auto">
				<Footer />
			</div>
		</footer>
		<script type="module" src="/src/main.js" defer></script>
	</body>
</html>

<style>

</style>
