---
import "../assets/app.css";
import MainData from '../data/main.json'
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

const path = Astro.url.pathname.replace(/\//g, '') || 'index';
---

<!doctype html>
<html lang="zh-tw">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{MainData.name}</title>
    <script src="/vendor/gsap.js" is:inline></script>
    <script src="/vendor/barba.js" is:inline></script>
    <script type="module" src="/js/pjax.js" defer></script>
  </head>
  <body class="flex flex-col min-h-screen">
    <!-- 背景層 -->
  <div id="bg-fancy" class="fixed inset-0 -z-10 bg-fancy"></div>
    <nav>
      <Navbar />
    </nav>
    <main class="flex flex-1" data-barba="wrapper">
      <div class="flex flex-1" data-barba="container" data-barba-namespace={path}>
        <slot />
      </div>
    </main>
    <footer>
      <div class="mx-auto">
        <Footer />
      </div>
    </footer>

    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//track.yuaner.tw/";
        _paq.push(['setTrackerUrl', u+'traak.php']);
        _paq.push(['setSiteId', '3']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'traak.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->

  </body>
</html>

<style>

</style>
